!!!
%html
  %head
    %title= t("chat.title")
    = javascript_include_tag "/remote/faye.js"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    = csrf_meta_tags
  %body
    = yield